body{
  background-color: rgba(238, 206, 164, 0.788);
  font-family: Arial, Helvetica, sans-serif;
  width: fit-content;
  margin: 30px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
header{
   text-align: center;
   font-size: 20px;
}
.circle-image{
    width: 150px;      /* Set equal width and height */
  height: 150px;     /* Set equal width and height */
  border-radius: 50%; /* Makes the image a circle */
  object-fit: cover;
}
.navdiv{
    margin: 0;
    background-color: hsl(245, 93%, 5%);
    display: flex;
    border-radius: 10px;
}
li{
    list-style: none;
    display: inline;  
}
li a{
    color: rgb(233, 85, 17);
    font-size: 25px;
    margin-left: 50px;
    font-weight: bold;
    justify-content: space-between;    
}
li a:hover{
    color: rgb(81, 187, 81);
}
.logo{
  width: 50px;
  border-radius: 10px;
}
h1{
  color: rgb(6, 6, 110);
}
.vision{
  margin: 10px;
  padding: 10px;
  border: solid rgb(4, 4, 37);
  border-radius: 10px;
}
h2{
  color: rgb(27, 3, 240);
  text-align: center;
}
video{
  width: 150px;
  height: 250px;
  border-radius: 5px;
}