/* *{
    background-color: rgba(191, 208, 223, 0.993);
} */
h1{
    color: rgb(6, 43, 5);
}
.swim{
    color: orangered;
}
.sport{
     background-color: orchid;
 }
#skip{
    background-image: linear-gradient(rgb(130, 130, 243) , white);
    border: solid black;
    border-radius: 5px;
}
.book{
    margin: 15px 35px;
    padding: 25px 10px;
    border: 5px double rgb(3, 3, 53);
    border-radius: 10px;
}
.gal{
    width: 200px;
}

/* My flexbox properties */
.container{
    background-color: aquamarine;
}
.child{
    background-color: blueviolet;
    display: flex;
    justify-content: space-between;
}